html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFF1F1;
}

.top-value {
    padding: 20px;
    border: 20px;
    border-radius: 5%;
    margin: 1.5%;
    
}
.top-sect {
    background-color: #A94438;
    border-radius: 0% 0% 10% 10%;

}
.image {
    position: absolute;
    top: 5px;
    right: 5px;
}
.image5 {
    position: relative;
    left: 35px;
    bottom: 10px;
}
.image6 {
    position: relative;
    left: 35px;
    bottom: 10px;
}
.graphs{
    display: flex;
}
.inner-sect {
    background-color: #A94438;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%
}
.graph01{
    width: 800px;
    height: 400px;
    padding: 5%;
}
.graph02{
    width: 600px;
    height: 300px;
    padding: 5%;
    margin-top: 40px;

}
.gbox01, .gbox02{
    border-radius: 1%;
    margin-bottom: 20px;
    margin: 30px;
}
.gbox02 {
    background-color: #FFFFFF;
    margin-left: 70px;
}
.gbox01 {
    background-color: #FFFFFF;
}
.download{
    position: absolute;
    top: 0;
    right: 0;
}
.no-overflow 
{
    overflow: hidden; /* or overflow: scroll; */
    white-space: nowrap; /* This ensures that text doesn't wrap */
}

.wrap-text {
        max-width: 100%; /* Set maximum width to 100% */
        word-wrap: break-word; /* Allow text to wrap onto the next line if necessary */
}
.graph{
    width: 100%;
    height: auto;
}